<div class="row">

    <div class="col-md4">
        <div class="input-field">
            <input id="formula" type="text">
            <label for="formula">Formula</label>
        </div>
    </div>

    <div class="row">
        <div class="col sm6">
            <div class="input-field">
                <input id="pointA" type="text">
                <label for="pointA">Punto A</label>
            </div>
        </div>
        <div class="col sm6">
            <div class="input-field">
                <input id="pointB" type="text">
                <label for="pointB">Punto B</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col sm6">
            <div class="input-field">
                <input id="maxIter" type="text">
                <label for="maxIter">Max. Iteraciones</label>
            </div>
        </div>
        <div class="col sm6">
            <div class="input-field">
                <input id="tolerancia" type="text">
                <label for="tolerancia">Tolerancia</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col sm6">
            <a class="waves-effect waves-light btn">Gráficar</a>
        </div>
        <div class="col sm6">
            <a class="waves-effect waves-light btn"></a>
        </div>
    </div>

</div>