<footer class="page-footer teal lighten-2">
    <div class="container">
        <div class="row">
            <div class="col l6 offset-l3 s12 center-align">
                <h5 class="white-text">Métodos Numéricos</h5>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container center-align">
            © 2017 Gerardo Moxca Ruiz
            <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
        </div>
    </div>
</footer>