<ul id="slide-out" class="side-nav">
    <li><div class="userView" style="height: 200px !important;">
        <div class="background teal">
            <img class="materialboxed" width="300"src="images/IsmaPedo.jpg">
        </div>
    </div></li>

    <li><a class="waves-effect" href="/">Inicio</a></li>

    <li><div class="divider"></div></li>
    <li><a class="subheader">Métodos</a></li>
    <li><a class="waves-effect" href="/biseccion">Bisección</a></li>
    <li><a class="waves-effect" href="/newton">Newton</a></li>
    <li><a class="waves-effect" href="/newtonP">Newton para Polinomios</a></li>
    <li><a class="waves-effect" href="/newtonM">Newton Modificado</a></li>
    <li><a class="waves-effect" href="/secante">Secante</a></li>
    <li><a class="waves-effect" href="/muller">Müller</a></li>
    <li><a class="waves-effect" href="/reglaF">Regla Falsa</a></li>
    <li><a class="waves-effect" href="/steffensen">Steffensen</a></li>

    <li><div class="divider"></div></li>
    <li><a class="subheader">Gráfica</a></li>
</ul>
