<ul id="slide-out" class="side-nav">
    <li><div class="userView">
        <div class="background teal">
            <img src="">
        </div>
        <a href="#!user"><img class="circle" src=""></a>
        <a href="#!name"><span class="white-text name">John Doe</span></a>
        <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>

    <li><a class="subheader">Métodos</a></li>
    <li><a class="waves-effect" href="#!">Bisección</a></li>
    <li><a class="waves-effect" href="#!">Newton</a></li>
    <li><a class="waves-effect" href="#!">Newton para Polinomios</a></li>
    <li><a class="waves-effect" href="#!">Newton Modificado</a></li>
    <li><a class="waves-effect" href="#!">Secante</a></li>
    <li><a class="waves-effect" href="#!">Müller</a></li>
    <li><a class="waves-effect" href="#!">Regla Falsa</a></li>
    <li><a class="waves-effect" href="#!">Steffensen</a></li>

    <li><div class="divider"></div></li>
    <li><a class="subheader">Gráfica</a></li>
</ul>
