<div class="row" style="margin-top: 20px;">

    <div class="col s12 m6">
        <div class="card horizontal">
            <div class="card-image">
                <i style="font-size: 100px;">B</i>
            </div>
            <div class="card-stacked">
                <div class="card-content right-align">
                    <p>Método de Bisección.</p>
                </div>
                <div class="card-action right-align">
                    <a href="#"><i class="small material-icons">dialpad</i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6">
        <div class="card horizontal">
            <div class="card-image">
                <i style="font-size: 100px;">N</i>
            </div>
            <div class="card-stacked">
                <div class="card-content right-align">
                    <p>Método de Newton.</p>
                </div>
                <div class="card-action right-align">
                    <a href="#"><i class="small material-icons">dialpad</i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card horizontal">
            <div class="card-image">
                <i style="font-size: 100px;">NP</i>
            </div>
            <div class="card-stacked">
                <div class="card-content right-align">
                    <p>Método de Newton para Polinomios</p>
                </div>
                <div class="card-action right-align">
                    <a href="#"><i class="small material-icons">dialpad</i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6">
        <div class="card horizontal">
            <div class="card-image">
                <i style="font-size: 100px;">NM</i>
            </div>
            <div class="card-stacked">
                <div class="card-content right-align">
                    <p>Método de Newton Modificado</p>
                </div>
                <div class="card-action right-align">
                    <a href="#"><i class="small material-icons">dialpad</i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6">
        <div class="card horizontal">
            <div class="card-image">
                <i style="font-size: 100px;">S</i>
            </div>
            <div class="card-stacked">
                <div class="card-content right-align">
                    <p>Método de la Secante</p>
                </div>
                <div class="card-action right-align">
                    <a href="#"><i class="small material-icons">dialpad</i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6">
        <div class="card horizontal">
            <div class="card-image">
                <i style="font-size: 100px;">M</i>
            </div>
            <div class="card-stacked">
                <div class="card-content right-align">
                    <p>Método de Müller</p>
                </div>
                <div class="card-action right-align">
                    <a href="#"><i class="small material-icons">dialpad</i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6">
        <div class="card horizontal">
            <div class="card-image">
                <i style="font-size: 100px;">RF</i>
            </div>
            <div class="card-stacked">
                <div class="card-content right-align">
                    <p>Método de la Regla Falsa</p>
                </div>
                <div class="card-action right-align">
                    <a href="#"><i class="small material-icons">dialpad</i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6">
        <div class="card horizontal">
            <div class="card-image">
                <i style="font-size: 100px;">ST</i>
            </div>
            <div class="card-stacked">
                <div class="card-content right-align">
                    <p>Método de Steffensen</p>
                </div>
                <div class="card-action right-align">
                    <a href="#"><i class="small material-icons">dialpad</i></a>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">

</div>

